
body {
    
}
a {
    text-decoration: none;
    
}
.social-links .social-links-link:hover,
.social-links .social-links-link:focus {
    text-decoration: underline;
    color: #404bbf;
}
li {
    list-style-type: none;
}
